<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE xml>
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

     <Resource name="jdbc/Cdb"
           auth="Container"
           type="javax.sql.DataSource"
           username="root"
           password="root"
           driverClassName="com.mysql.jdbc.Driver"
           description="cdb"
           url="jdbc:mysql://127.0.0.1:3306/computerDmo-database-db?zeroDateTimeBehavior=convertToNull"
           maxActive="15"
           maxIdle="3"/>

</Context>
