<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="cdb-persistence-unit" transaction-type="RESOURCE_LOCAL">
        <class>com.louisamoros.cdb.dmo.ComputerDmo</class>
        <class>com.louisamoros.cdb.dmo.CompanyDmo</class>
        <class>com.louisamoros.cdb.dmo.UserDmo</class>
        <class>com.louisamoros.cdb.dmo.UserProfileDmo</class>
    </persistence-unit>
</persistence>
