<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

 <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
   <pattern>CDB    %d{HH:mm:ss.SSS} | %-5level %logger{36} - %msg %n</pattern>
  </encoder>
 </appender>

 <appender name="consoleAppenderSpring" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
   <pattern>SPRING %d{HH:mm:ss.SSS} | %-5level %logger{36} - %msg %n</pattern>
  </encoder>
 </appender>

 <logger name="com.louisamoros.cdb" level="ALL">
  <appender-ref ref="consoleAppender" />
 </logger>

 <logger name="org.springframework" level="INFO">
  <appender-ref ref="consoleAppenderSpring" />
 </logger>

</configuration>
